.diagnostico-ctn {
  margin-left: 3%;
}
.diagnostico-ctn .item {
  margin-top: -15px;
  font-size: 20px;
}

.diagnostico-ctn .checkbox-item {
  margin-top: 2px;
  font-size: 20px;
}
.diagnostico-ctn h2 {
  font-size: 26px;
}
.checkbox {
  margin-right: 10px;
}
.bottom-buttons-diagnostico {
  width: 90%;
  margin: 20px auto;
}

.diagnostico-ctn .item2 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.diagnostico-ctn .item .icon-pencil {
  justify-self: end;
  margin-right: 20px;
}
.diagnostico-ctn .section {
  margin-top: 4%;
}
.alert-checkbox-label.sc-ion-alert-md {
  color: black;
}
.obs-input {
  border-bottom: solid 3px #69688c;
  width: 95%;
}
.diagnostico-ctn h2 {
  margin-bottom: 5%;
}
.diagnostico-button {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  width: 250px;
}

.fotos-miniaturas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.foto-miniatura {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.input-error {
  border: 2px solid orange !important;
  border-radius: 5px;
}

.checkbox-error {
  outline: 2px solid orange;
  outline-offset: 4px;
  border-radius: 5px;
}

.select-error {
  border: 2px solid orange !important;
  border-radius: 5px;
}
