.remito {
  background-color: white;
  
}

.remito-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
  overflow-y: scroll;
}

.remito-container svg {
  max-width: 100%;
}

.remito-container-content {
  display: flex;
  flex-direction: column;
 width: 95%;
 margin: 0 auto;
 
  color: #283959;
}

.remito-container-content h2 {
  font-weight: bold;
}

.remito-container-top {
  margin-bottom: 1%;
}

.remito-container-top div {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.remito-container-bottom {
  margin-bottom: 1%;
}

.remito-container-bottom div {
  display: flex;
  flex-direction: row;
  gap: 15%;
}

.remito-container-table {
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
 
}
.remito-container-table h2{
  margin-bottom:-10px;
 
}
.remito-container-table h4:not(:last-of-type) {
  margin-bottom: -15px;
}

.remito-container-table table {
  width: 80%;
  margin-left: 2%;
 
}
.remito-container-table h2 {
 font-size: 20px;
}
.remito-container-table h4 {
  font-size: 18px;
 }

.remito-container-table th {
  font-weight: 800;
  font-size: larger;
}

.remito-container-table td {
  font-weight: 500;
  margin-left: 1%;
  font-size: large;
}

.remito-container-total {
  display: flex;
  justify-content: flex-end;
  margin-right: 25%;
  margin-top: 2%;
  gap: 5%;
}

.remito-button-container {
 
}

.remito-button-container button {
  background-color: #69688c;
  width: 200px;
  height: 30px;
 margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.remito-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}
.remito-head img{
   width: 150px;
}
@media print {
  body {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .remito-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: white;
  }

  .remito-container-content {
    width: 100%;
    padding: 0;
  }

  .remito-button-container,
  .logout {
    display: none;
  }
}
