.headerHome{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.headerHome .headerSesion{
    width:100%;
    color: #111B21;
    text-align: center;
}
.headerHome img{
    cursor: pointer;
}

.headerHome .iconHome{
    height: 30px;
    margin-top:5px;
}
.headerTitle{
    margin: auto 0;
}
.headerSesion{
    background-color: #C8CFDA;
}