.estado-select{
    margin: 15px auto;
 
}

.lista-respuestos-presupuesto{
    width: 100%;
}
.alert-radio-label.sc-ion-alert-md{
    color: black;
  }
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
    color: black;
  }