.container-confirm-button {
  display: flex;
  justify-content: center;

}
.confirm-button {
  margin-top: 2rem;
  width: 60%;
  --border-radius: 2rem;
}

.title-repuestos {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.subtitle-repuestos {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.container-listado-respuestos {
  padding: 1rem 2rem;

}
.listado-respuestos {
  border: 2px solid #69688c;
  height: 350px;
  overflow-y: scroll;
}

.listado-seleccionados {
  margin-top: 1.5rem;

  
}
.subtitle-listado-seleccionados {
  font-size: 1.4rem;
  font-weight: bold;
}
  .listado-respuestos .repuesto-incrementado {
  --color: #40a63d;
}
.subtitle-listado-orden{
  font-size: 18px;
}

.buttons-comprar-repuestos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
  background-color: white; 
  padding: 1rem;  
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);  
  display: flex;
  flex-direction: column;
  gap: 0.5rem;  
}
